<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>CaiGouNum</key>
			<string>12312</string>
		</dict>
		<dict>
			<key>xiaDanTime</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>coalName</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>coalLei</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>coalPlace</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>reLiang</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>shouHouCJ</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>shouHouPlace</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>keHulinkName</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>keHubuyCount</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>payMethod</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>faHuoCangJia</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>faHuoPlace</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>gysLinkName</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>zhaoCheMoney</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>gysbuyCount</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>gongYingJiaGe</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>dingDanTotalMoney</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>daiFaHuo</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>yiFaHuo</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>yiShouHuo</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>yiJuShou</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>status</key>
			<string>煤炭指标</string>
		</dict>
	</array>
</array>
</plist>
