<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>coalName</key>
			<string>敖包沟三八块</string>
			<key>gongYS</key>
			<string>通达煤业</string>
			<key>lidu</key>
			<string>0</string>
			<key>coalLei</key>
			<string>烟煤</string>
			<key>coalPlace</key>
			<string>北京</string>
			<key>reZhi</key>
			<string>15246</string>
			<key>liu</key>
			<string>13.00</string>
			<key>water</key>
			<string>12.00</string>
			<key>huiFen</key>
			<string>45.00</string>
			<key>qing</key>
			<string>25</string>
			<key>coalPrice</key>
			<string>12135655</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>coalName</key>
			<string>13籽</string>
			<key>gongYS</key>
			<string>通达煤业</string>
			<key>lidu</key>
			<string>0</string>
			<key>coalLei</key>
			<string>烟煤</string>
			<key>coalPlace</key>
			<string>北京</string>
			<key>reZhi</key>
			<string>15246</string>
			<key>liu</key>
			<string>13.00</string>
			<key>water</key>
			<string>12.00</string>
			<key>huiFen</key>
			<string>45.00</string>
			<key>qing</key>
			<string>25</string>
			<key>coalPrice</key>
			<string>12135655</string>
		</dict>
	</array>
</array>
</plist>
