<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>coalName</key>
			<string>聚会</string>
			<key>coalNum</key>
			<string>2313424434</string>
			<key>coalPrice</key>
			<string>152</string>
			<key>num</key>
			<string>0</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>leftLbl</key>
			<string>基础信息</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>供应商名称</string>
			<key>rightLbl</key>
			<string>通达煤业</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>供应商电话</string>
			<key>rightLbl</key>
			<string>18078637879</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>所在地区</string>
			<key>rightLbl</key>
			<string>内蒙古鄂尔多斯慰问费</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>厂家服务</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>厂家介绍</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>煤炭产地</string>
			<key>rightLbl</key>
			<string>鄂尔多斯市</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>煤矿</string>
			<key>rightLbl</key>
			<string>敖包沟</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>煤炭加工</string>
			<key>rightLbl</key>
			<string>洗煤</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>leftLbl</key>
			<string>煤炭指标</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>煤炭种类</string>
			<key>rightLbl</key>
			<string>烟煤</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>热值</string>
			<key>rightLbl</key>
			<string>6000大卡</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>硫</string>
			<key>rightLbl</key>
			<string>6.00%</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>全水分</string>
			<key>rightLbl</key>
			<string>6.00%</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>灰分</string>
			<key>rightLbl</key>
			<string>6.00%</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>氢</string>
			<key>rightLbl</key>
			<string>12%</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>粒度</string>
			<key>rightLbl</key>
			<string>35-80</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>挥发分</string>
			<key>rightLbl</key>
			<string>8.00%</string>
		</dict>
	</array>
</array>
</plist>
