<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>coalName</key>
			<string>聚会</string>
			<key>coalNum</key>
			<string>2313424434</string>
			<key>coalPrice</key>
			<string>152</string>
			<key>num</key>
			<string>0</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>leftLbl</key>
			<string>基础信息</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>煤炭名称</string>
			<key>rightLbl</key>
			<string>聚会</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>煤炭用途</string>
			<key>rightLbl</key>
			<string>焦煤</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>煤炭来源</string>
			<key>rightLbl</key>
			<string>配煤</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>煤炭加工</string>
			<key>rightLbl</key>
			<string>洗煤</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>煤矿</string>
			<key>rightLbl</key>
			<string>/</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>日供货量（吨）</string>
			<key>rightLbl</key>
			<string>321</string>
		</dict>
		<dict>
			<key>leftLbl</key>
			<string>发货地址</string>
			<key>rightLbl</key>
			<string>定位威锋网</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>leftLbl</key>
			<string>煤炭指标</string>
			<key>rightLbl</key>
			<string>meiz</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>customNum</key>
			<string>0</string>
		</dict>
	</array>
</array>
</plist>
