<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>coalName</key>
			<string>聚会</string>
			<key>coalPlace</key>
			<string>152</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>coalName</key>
			<string>聚会</string>
			<key>coalPlace</key>
			<string>152</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>coalName</key>
			<string>聚会</string>
			<key>coalPlace</key>
			<string>152</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>coalName</key>
			<string>聚会</string>
			<key>coalPlace</key>
			<string>152</string>
		</dict>
	</array>
</array>
</plist>
