<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>添加需采购煤炭</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>添加收货地址</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>采购车数</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>支付方式</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>预留电话</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>收货方式</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>是否需要煤检票</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>我的留言</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>找车运费</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>使用余额：0.0</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>煤炭供应单价</string>
		</dict>
		<dict>
			<key>name</key>
			<string>手续费</string>
		</dict>
		<dict>
			<key>name</key>
			<string>优惠</string>
		</dict>
		<dict>
			<key>name</key>
			<string>煤炭总金额</string>
		</dict>
		<dict>
			<key>name</key>
			<string>余额</string>
		</dict>
	</array>
</array>
</plist>
