<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>客户</string>
			<key>icon</key>
			<string>客户</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>供应商</string>
			<key>icon</key>
			<string>供应商</string>
		</dict>
	</array>
</array>
</plist>
