<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>资金安全</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>资金安全</string>
		</dict>
	</array>
	<array>
		<dict/>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>资金安全</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>资金安全</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>资金安全</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>修改密码</string>
		</dict>
	</array>
	<array>
		<dict/>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>委托推广（找车、销售、找货）</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>快煤客服</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>退出</string>
		</dict>
		<dict>
			<key>name</key>
			<string>退出</string>
		</dict>
		<dict>
			<key>name</key>
			<string>退出</string>
		</dict>
		<dict>
			<key>name</key>
			<string>退出</string>
		</dict>
		<dict>
			<key>name</key>
			<string>退出</string>
		</dict>
	</array>
</array>
</plist>
